body{
    width:15rem;
    
}
nav{
    background: rgb(85,119,252)
}
ul{
    list-style: none;
    padding: 0;
}
ul li{
    font-size: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
    white-space: nowrap
    
}
ul li:hover{
    background: whitesmoke
}
ul li div{
    padding: 8px;
    overflow: hidden;
}